@font-face {
    font-family: hell;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 95%;
    width: 100%;
    font-family: monospace;
}

nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 2.2vw 5vw;
}

.nav-left{
    
      display: flex;
    align-items: center;
    gap: 40px;
}

.nav-right{
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav-left h2{
    border-radius: 45%;
    background-color: rgb(249, 240, 240);
}

.nav-right img{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    object-fit: cover;
}

main{
      height: 85%;
    width: 100%;
    display: flex;
    padding: 2vw 8vw;
    gap: 60px;
}

.left{
    height: 100%;
    width: 45% ;
    background-color: red;
    border-radius: 10px;
    background-image: url(./Images/maruti.webp);
    background-size: cover;
    background-position: center;
}

.right{
    padding: 0 3vw;
height: 100%;
    width: 55% ;
    border-radius: 10px;
}

.right h3{
    font-size: 40px;
    font-family: hell;
}

.right .all-songs{
    height: 85%;
    margin-top: 10px;
    border-radius: 10px;
}

#all-songs{
    /* background-color: red; */
    height: 85%;
    margin-top: 30px;
}
.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5a;
    padding: 18px 15px;
    border-radius: 10px;
    box-shadow: 
    10px 10px 20px rgba(0, 0, 0, 0.12),
    -10px -10px 20px rgba(255, 255, 255, 0.8);
     margin-top: 20px;
}
.song-card:hover{
     transform: translateY(-4px);
}
.song-card:nth-last-child(1){
    border-bottom: 1px solid #5a5a5a;
}
.song-card .part1{
    display: flex;
    align-items: center;
    pointer-events: none;
}
.song-card img{
    height: 55px;
    width: 55px;
    margin-right: 20px;
    border-radius: 50px;
    object-fit: cover;
    object-position: top;
}
.song-card h2{
    font-size: 22px;
    font-weight: 600;
}
.song-card h6{
    font-weight: 500;
    font-size: 16px;
}

footer{
    height: 15%;
    width: 100%;
 display: flex;
    align-items: center;
    justify-content: center;
}

#player{
 display: flex;
    align-items: center;
    gap: 40px;
}

#player #rev , #for{
    font-size: 25px;
    color: orangered;
}
#player #paus{
    font-size: 50px;
    color: orangered;
}
#player h3 i{
    transition: all ease 0.2s;
}

#player h3:active{
    scale: 0.93;
}