* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #333;
    font-family: monospace;
    color: aliceblue;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-reels {
    height: 90vh;
    width: 350px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.all-reels::-webkit-scrollbar {
    width: 0;
}

.reels {
    height: 90vh;
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;
    margin-bottom: 10px;
}

.reels video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.reels .bottom {
    padding: 30px 20px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    position: absolute;
    bottom: 0;
    width: 100%;
}

.reels .bottom .user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.reels .bottom .user img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    object-fit: cover;
    object-position: top;
}

.reels .bottom .user button {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid white;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
}

.right {
    position: absolute;
    right: 10px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 15px;
}

.right .o {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right i {
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
}

.love {
    color: red;
}

.muted {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    text-align: center;
}

.muted h4 {
    font-weight: 500;
    cursor: pointer;
}

.muted i {
    font-size: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.771);
}


.big-like {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  color: white;
  font-size: 80px;
  transition: all 0.5s ease;
  pointer-events: none;
}
